<div class="popup-media-overlay">
  <div class="popup-media-container">
    <div class="popup-media-title">
      <h4>{{ file.filename }}</h2>
      <i class="media-close fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="popup-media-box">
      {% if 'image' in mime_type %}
        <img src="{{ url_for('main.download_preview', file_id=file.id) }}" alt="{{ filename }}" class="popup-media">
      {% elif 'video' in mime_type %}
        <video controls class="popup-media">
          <source src="{{ url_for('main.download_file', file_id=file.id) }}" type="video/{{ file_extension }}">
          Your browser does not support the video tag.
        </video>
      {% elif 'audio' in mime_type %}
        <audio controls class="popup-media">
          <source src="{{ url_for('main.download_file', file_id=file.id) }}" type="audio/{{ file_extension }}">
          Your browser does not support the audio element.
        </audio>
      {% elif 'text' in mime_type or file_extension == 'txt' %}
        <iframe seamless src="{{ url_for('main.download_text_preview', file_id=file.id) }}" class="popup-media-iframe"></iframe>
      {% elif 'pdf' in mime_type or file_extension == 'pdf' %}
        <embed class="popup-media-embed" src="{{ url_for('main.download_preview', file_id=file.id) }}">
      {% else %}
        <p>File type not supported for preview.</p>
      {% endif %}
    </div>
  </div>
</div>
