{% extends "files_base.html" %} {% block content %}

<div class="content">
  <h1>Settings</h1>

  <div class="form-group">
    <h2>Upload</h2>
    <div class="switch-container">
      <div class="form-description">
        <span class="sub-text">Hashing</span>
        <span class="small-text"
          >Enable unique hashing for future uploads.</span
        >
      </div>
      <input
        type="checkbox"
        id="hashing-toggle"
        class="settings-input"
        {%
        if
        hashing
        %}
        checked
        {%
        endif
        %}
      />
      <label class="switch" for="hashing-toggle"></label>
    </div>
  </div>

  <div class="form-group">
    <h2>Storage</h2>
    <div class="dropdown-container">
      <div class="form-description">
        <span class="sub-text">Mount points</span>
        <span class="small-text">Choose which mount point to base on.</span>
      </div>
      <div class="dropdown" id="mount-point-dropdown">
        <div class="select">
          <span class="dropdown-selected">{{ selected_mount_point }}</span>
          <div class="caret"></div>
        </div>
        <ul class="dropdown-menu">
          {% for mount_point in all_mount_points %}
          <li
            class="{% if mount_point.id == selected_mount_point.id %}dropdown-active{% endif %}"
          >
            {{ mount_point.name }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="btn-container">
      <div class="form-description">
        <span class="sub-text">Delete Search History</span>
        <span class="small-text">Deletes search history.</span>
      </div>
      <button class="red-btn" id="delete-history-btn">Delete History</button>
    </div>
  </div>

  <div class="form-group">
    <h2>Recovery</h2>
    <div class="btn-container">
      <div class="form-description">
        <span class="sub-text">Restore DB</span>
        <span class="small-text"
          >Rebuild the database from every mount point.</span
        >
      </div>
      <button class="red-btn" id="restoreBtn">Restore Database</button>
    </div>
  </div>
  <div id="confirmModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h3>Confirm Action</h3>
      <p>
        Are you sure you want to restore the database? Upload dates will be
        reset to today.
      </p>
      <div class="modal-actions">
        <button class="cancel-btn" id="cancelBtn">Cancel</button>
        <button class="red-btn" id="restoreContinueBtn">Continue</button>
      </div>
    </div>
  </div>
</div>

<script>
  document
    .getElementById("hashing-toggle")
    .addEventListener("change", function () {
      const enabled = this.checked;

      fetch('{{ url_for("main.update_hashing") }}', {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ hashing: enabled }),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            createNotificationPopup(
              "Success",
              "Hashing is now " + enabled + ".",
              '<i class="fas fa-cog"></i>'
            );
          } else {
            createNotificationPopup(
              "Error",
              "Hashing failed to update!",
              "❌",
              5000
            );
          }
        });
    });
</script>
<script>
  const modal = document.getElementById("confirmModal");
  const btn = document.getElementById("restoreBtn");
  const closeBtn = document.getElementsByClassName("close")[0];
  const cancelBtn = document.getElementById("cancelBtn");
  const restoreContinueBtn = document.getElementById("restoreContinueBtn");

  btn.onclick = function () {
    modal.style.display = "block";
  };

  closeBtn.onclick = function () {
    modal.style.display = "none";
  };

  cancelBtn.onclick = function () {
    modal.style.display = "none";
  };

  restoreContinueBtn.onclick = function () {
    fetch("/restore-db", {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => {
        if (response.ok) {
          createNotificationPopup("Success", "DB successfully restored!", "✅");
        } else {
          createNotificationPopup("Error", "DB failed to restore!", "❌", 5000);
        }
      })
      .catch((error) => {
        console.error("Error:", error);
        createNotificationPopup("Error", "DB failed to restore!", "❌", 5000);
      });
    modal.style.display = "none";
  };

  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };
</script>
<script>
  document
    .getElementById("delete-history-btn")
    .addEventListener("click", function () {
      fetch("/delete-search-history", {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => {
          if (response.ok) {
            createNotificationPopup(
              "Success",
              "File history successfully deleted!",
              "✅"
            );
          } else {
            createNotificationPopup(
              "Error",
              "File history failed to delete!",
              "❌",
              5000
            );
          }
        })
        .catch((error) => {
          console.error("Error:", error);
          createNotificationPopup(
            "Error",
            "File history failed to delete!",
            "❌",
            5000
          );
        });
    });
</script>

{% endblock %}
